#Secrets required on the hosting server
#I recommend using Openssl's rand function to generate these.

#Used to sign auth tokens
ACCESS_SECRET=""
ACCESS_TTL=900 #15 Mins

#Used to sign refresh tokens
REFRESH_SECRET=""
REFRESH_TTL=86400 #1 Day

#DB connection info
DB_HOST="" #[localhost]
DB_NAME="" 
DB_USER="" 
DB_PASS=""



#Optional Deployment variables 
#For use with the deploy.sh script

SSH_KEY_PATH='~/.ssh/<your_ssh_key>'

SERVER_USER=""
SERVER_ADDRESS=""
SERVER_PATH=""
